@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

@font-face {
  font-family: "Tropical Country";
  font-style: normal;
  src: url(/fonts/Tropical_Country.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Oxygen", sans-serif;
  overflow-x: hidden;
  font-size: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Signika", sans-serif;
}

h1 {
  font-size: 4rem;
  line-height: 4.5rem;
}

h2 {
  font-size: 3rem;
  line-height: 3.5rem;
}

p {
  font-size: 1.2rem;
}

.tag {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.handwritten {
  font-family: "Tropical Country";
}

* {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
